@media (max-width: 575.98px) {
    .navbar-toggler{
        padding: 0;
        font-size: 15px;
    }
    .navbar-nav{
        padding: 20px;
        background-color: #fff !important;
    }
    .nav-item:hover::after{
        bottom: 0px;
    }
    .section-padding{
        padding: 20px 0px;
    }
    .single-book .book-img {
        margin-top: 20px;
    }
.book-details{
    text-align: left;
    flex-direction: column;
}
.book-details .book-img{
    text-align: center;
    margin-bottom: 20px;
}
.book-details .buy-book{
    text-align: center;
}
.single-book .main-mean{
    padding-left: 20px;
    padding-right: 20px;
}
.section-title h2{
    font-size: 24px;
}
.subscription-form .form-control{
    width: 100%;
    margin-bottom: 10px;
}
}

@media (max-width: 767.98px) {
    .navbar-toggler{
        padding: 0;
        font-size: 20px;
    }
    .navbar-nav{
        padding: 20px;
        background-color: #fff !important;
    }
    .nav-item:hover::after{
        bottom: 0px;
    }
}